// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.input{
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #848484;
    width:70%;
    margin:auto;
    height:40px;
    font-size:100%;
    font-family:"Comic Sans MS", cursive, sans-serif,Arial;
    box-sizing: border-box;
    outline: none;
    background:#FAFAFA;
}
input[type=text]:focus {
    border-bottom: 1px solid #FE9A2E;
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding:15px 30px 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:4px;
}
.links{
    text-align:Center;
    font-family:arial;
    color:#00BFFF;
}